@import 'base.scss';

.homeContainer {
  @extend %absoluteFill;
  @extend %flexRow;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.leftPanelContainer {
  @extend %flexColumn;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.rightPanelContainer {
  flex: 1;
  height: 100%;
}

.floatingStatusInfo {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: fit-content;
  height: fit-content;
  z-index: 11;
  border-radius: 8px;
}

.home__tabPane {
  padding: 0px !important;
  border: 0px !important;
}