@import 'base.scss';

.homeContainer {
  @extend %absoluteFill;
  @extend %flexRow;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.leftPanelContainer {
  @extend %flexColumn;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  width: 600px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.rightPanelContainer {
  flex: 1;
  height: 100%;
}