.tablePagination__container {
  display: flex;
  flex-direction: column;
}

.pagination {
  flex: 0 0 auto !important;
  align-self: center;
}

.table__container {
  margin: 8px 0;
  width: 100%;
  overflow-x: auto;
}

.table__cellContainer {
  white-space: nowrap;
}