// Font Sizes
$font-small: 0.87em;
$font-big: 1.17em;
$font-extra-big: 1.5em;
$font-huge: 2em;
$font-extra-huge: 2.5em;
// Font Weights
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

// border-radius
$rounded-rectangle: 15px;

// Colors
$color-white: white;
$color-black: black;
$color-tomato: rgb(240, 140, 140);
$color-gray-black: rgb(46, 46, 46);
$color-gray-light: rgb(111, 111, 111);
$color-light-blue: rgb(170, 225, 255);
$color-very-light-blue: rgb(248, 248, 255);

